import /trustkernel.rc

on init
    mkdir /mnt/vendor 0755 root root
    mkdir /mnt/vendor/persist 0755 root root
    mkdir /mnt/vendor/protect_f 0770 root root
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist rw wait
    mount ext4 /dev/block/platform/bootdevice/by-name/protect1 /mnt/vendor/protect_f rw wait

on fs
    install_keyring

on boot
    start health-hal-2-0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.trustkernel
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start keymaster-4-0
    start gatekeeper-1-0
    # start keymaster_attestation-1-1

on property:twrp.all.users.decrypted=true
    stop teed
    stop keymaster-4-0
    stop gatekeeper-1-0
    # stop keymaster_attestation-1-1
